.video{
   width: 550px;

}

.gridContainer{
   justify-content: center;

}
.paper{
   padding: 10px;
   border: 2px solid black;
   margin: 10px;
}
@media screen and (max-width: 600px) {
   .video{
      width: 300px;
   }
   .gridContainer{
      flex-direction: column;
   }
}